.header {
  width: 100%;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
}

.leftMenu,
.rightMenu {
  font-size: 20px;
}
.leftMenu {
}
.rightMenu {
  display: flex;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background: #c4c4c4;
  border-radius: 100%;
}
