.containerActive {
  border: 20px solid black;
  transform: scale(1.2);
}
.container {
  /* background: #c4c4c4; */
  border: 2px solid transparent;
  height: 200px;
  max-height: 200px;
  min-width: 200px;
  margin: auto 30px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
}

.bookPrice {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  background-color: var(--main-foreground-color);
  padding: 10px;
  border-radius: 10px;
  transform: translateY(50%);
}

.bookImage {
  min-width: 100px;
  min-height: 200px;
  border-radius: 10px;
}

.bookImageActive {
  box-shadow: 7px 7px #6a6a6a12;
}
