.background {
  height: 100vh;
  width: 100vw;
  background: rgba(69, 69, 69, 0.511);
  position: fixed;
  top: 0;
}
.modal {
  position: fixed;
  bottom: 0;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100vw;
}
